.vs
.editorconfig
Test
HXCloud.API
HXCloud.APIV2/obj
HXCloud.APIV2/obj/*
HXCloud.APIV2/bin
HXCloud.APIV2/bin/*
HXCloud.Common/bin
HXCloud.Common/obj
HXCloud.Model/bin
HXCloud.Model/obj
HXCloud.Repository/bin
HXCloud.Repository/obj
HXCloud.Service/bin
HXCloud.Service/obj
HXCloud.ViewModel/bin
HXCloud.ViewModel/obj
